<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <ul class="error"></ul>
    </div>
    <form>
      <input type="text" class="fadeIn second" name="login" id="username" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" id="submit" class="fadeIn fourth" value="Log In" onclick="checkLogin()">
    </form>
  </div>
</div>
<script type="text/javascript">
	$('title').text('Login Panel');
	function checkLogin() {
		$.ajax({
			url: 'api/check/login',
			type:'POST',
			dataType: 'json',
			data:{
				username: $('#username').val(),
				password: $('#password').val(),
			},
			beforeSend: function(){
				$('#submit').attr('disabled', true);
			},
			success: function(data){
				if(data.code == 200){
					window.location.href = data.href;
				}else{
					$('.error').html(data.msg);
					$('#submit').attr('disabled', false);
				}
			}
		})
	}
</script>